.v-application--wrap {
    min-height: auto;
}

.v-application--wrap .row {
    width: 100%;
    margin: 0;
}

.v-picker__title {
    display: none;
}

.v-picker__body {
    max-width: 500px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto !important;
    /*overflow: inherit;*/
}

.v-date-picker-table {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.v-application .green-color.lighten-1 {
    background-color: #84D444 !important;
    border-color: #84D444 !important;
}

.v-btn--rounded {
    border-radius: 0;
}

.v-date-picker-table .v-btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.v-date-picker-table--date td {
    height: 61px;
    border-right: 1px solid #DFDFDF;
}

.v-date-picker-table--date tr {
    border-bottom: 1px solid #DFDFDF;
}

.v-date-picker-table--date tr:last-child {
    border-bottom: none;
}

.v-date-picker-table--date .v-btn {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 7px;
}

.v-btn--outlined {
    outline: none;
    border: none;
}

.v-date-picker-table--date thead tr {
    background: #F3F3F3;
}

.v-date-picker-table--date thead tr:last-child {
    border-bottom: 1px solid #DFDFDF;
}

button:focus {
    outline: none;
    border: none;
}

.v-date-picker-table table {
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.v-picker {
    box-shadow: none;
}

.v-date-picker-table th {
    text-align: left;
    padding-left: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000 !important;
}

.v-date-picker-header__value button {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222 !important;
    padding: 0;
}

.v-date-picker-header {
    padding-top: 0;
    padding-bottom: 13px;
}

.v-date-picker-header .v-btn {
    border: 1px solid #D45544;
    border-radius: 50%;
    width: 29px;
    height: 29px;
}

.v-date-picker-header .v-icon {
    color: #777777;
}

.mdi:before, .mdi-set {
    font-weight: 900;
    font-size: 20px;
}

.jump-time__container {
    overflow: hidden;
}

.jump-booking__next-step-wrapper {
    margin-top: 45px;
}

@media (max-width: 575.98px) {
    .v-date-picker-table .v-btn {
        font-size: 14px;
        line-height: 17px;
        padding-top: 6px;
        padding-left: 5px;
    }

    .v-date-picker-table--date td {
        height: 42px;
    }

    .v-date-picker-header__value button {
        font-size: 16px;
        line-height: 19px;
    }

    .v-date-picker-header .v-btn {
        width: 21px;
        height: 21px;
    }

    .mdi:before, .mdi-set {
        font-size: 18px;
    }

    .v-date-picker-table th {
        font-size: 12px;
    }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    padding-top: 0;
    padding-bottom: 0;
}
